<div class="product-details-wrapper">
  <div class="container">

    <button (click)="backToMenu()" class="exit-btn">
      <i class="fa-solid fa-arrow-left"></i>
    </button>

    <div class="product-main-card">
      <div class="product-layout">

        <div class="image-section">
          <div class="main-image-container">
            <img [src]="currentMainImage()" [alt]="product()?.name" class="main-img" />
          </div>

      

          @if (productImages().length > 1) {
            <div class="thumbnails-grid">
              @for (img of productImages(); track $index) {
                <div
                  class="thumbnail-item"
                  [class.active]="img === currentMainImage()"
                  (click)="changeImage(img)"
                >
                  <img [src]="img" alt="Product thumbnail" />
                </div>
              }
            </div>
          }
        </div>

        <div class="info-section">

          <h1>{{ product()?.name }}</h1>

          <div class="rating-row">
            <div class="stars">
              <i class="fa-solid fa-star active"></i>
              <i class="fa-solid fa-star active"></i>
              <i class="fa-solid fa-star active"></i>
              <i class="fa-solid fa-star active"></i>
              <i class="fa-solid fa-star active"></i>
            </div>

            <span>{{ randomNum() }}</span>
          </div>

          <h2 class="price">{{ product()?.price }} ₾</h2>

          <p class="description">
            {{ langService.translate('PRODUCT_DETAILS.DESCRIPTION') }}
          </p>

      @if(product().vegeterian === true) {
            <span class="veg">Vegetarian! <i class="fa-solid fa-leaf"></i> </span>
          
          }

         <div class="purchase-actions">
            <div class="quantity-wrapper">
              <button (click)="decrementDays()">-</button>
              <span>{{ Count()}}</span>
              <button (click)="incrementDays()">+</button>

            </div> 
            <p class="total-price">Total Price: {{totalPrice()}}</p>

            <button class="cart-btn"  (click)="sendToWhatsapp(product())" >
              <i class="fa-solid fa-paper-plane"></i> Write 
            </button>

        </div>

      </div>
    </div>

    <section class="section2">
      <h2>{{ langService.translate('PRODUCT_DETAILS.YOU_MAY_ALSO_LIKE') }}</h2>

      <div class="product-cards">
        @for (product of allProduct(); track product.id) {
          <div class="product-card" [routerLink]="['/details', product.id]">

            <div class="product-img">
              <img [src]="product.image1" [alt]="product.name">
            </div>

            <div class="product-info">
              <h2>{{ product.name }}</h2>
              <div class="price">{{ product.price }} ₾</div>
            </div>

          </div>
        }
      </div>

    </section>

  </div>
</div>