<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h2 class="logo">Shakari</h2>
      <p>Syrniki • Bliny • Coffee & Dessert</p>
      <div class="social-icons">
<a href="https://www.facebook.com/shakari.bakery/?locale=ru_RU" target="_blank" rel="noopener noreferrer">
  <i class="fa-brands fa-facebook-f"></i>
</a>

<a href="https://www.instagram.com/shakari.bakery" target="_blank" rel="noopener noreferrer">
  <i class="fa-brands fa-instagram"></i>
</a>
      </div>
    </div>

    <div class="footer-section">
      <h3>Contact</h3>
      <p>55 Nino Zhvania Street</p>
      <p>Tbilisi</p>
      <p>Phone: (595) 22 54 85</p>
      <p>Mon-Sat: 10AM - 7PM</p>
    </div>

    <div class="footer-section">
      <h3>Quick Links</h3>
      <ul>
        <li><a routerLink="/menu">Menu</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/gallery">Gallery</a></li>
   
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Created by: <a href="">Lasha-Giorgi Bajadze</a></p>
  </div>
</footer>

