<section>
  <div class="filter-section">
    @if(filterButton){
<form [formGroup]="filterForm">
  <button class="toggle-btn close-btn" (click)="filterButtonToggle()"><i class="fa-solid fa-x"></i></button>
  <h2>Filters</h2>
  
  <label for="search">Search</label>
  <input type="text" id="search" placeholder="Search dishes..." formControlName="query" />

  <div class="categories-section">
    <h3>Categories</h3>
    <div class="categories">
      
      <!-- Добавляем цикл по категориям, чтобы они вывелись на экран -->
      @for (category of categories; track category.id) {
        <div class="category">
          <input
            type="radio"
            [id]="'cat-' + category.id"
            [value]="category.id"
            formControlName="CategoryId"
          />
          <label [for]="'cat-' + category.id">{{ category.name }}</label>
        </div>
      }
      
      <!-- Добавим опцию "Все категории", чтобы сбросить радио-кнопку -->
      <div class="category">
        <input type="radio" id="cat-all" [value]="null" formControlName="CategoryId" />
        <label for="cat-all">All</label>
      </div>
      
      <label for="minPrice">Min Price</label>
      <input type="number" id="minPrice" min="0" formControlName="minPrice" />

      <label for="maxPrice">Max Price</label>
      <input type="number" id="maxPrice" min="0" formControlName="maxPrice" />

  
      <button type="button" (click)="resetFilters()">Reset</button>
    </div>
  </div>
</form>
  }
  </div>
  <div class="products-section">
   <div class="menu-header">
        <h2>Menu</h2>
        <div class="filter-btns">

          <p>Showing {{ filteredProducts.length }} results</p>
          <button class="toggle-btn" (click)="filterButtonToggle()">Filter <i class="fa-solid fa-sliders"></i></button>
        </div>
   </div>
    @if (filteredProducts.length === 0) {
      <div class="not-found">
        <h2>No products found</h2>
        <p>Try changing your filters or search query.</p>
      </div>
    } @else {
      @for (product of filteredProducts; track product.id) {
        <div class="product-card" [routerLink]="['/details', product.id]">
          <div class="product-img">
            <img [src]="product.image1" [alt]="product.name" />
          </div>

          <div class="product-info">
            <h2>{{ product.name }}</h2>


            <div class="price">
              ₾ {{ product.price}}
            </div>
          </div>
        </div>
      }
    }
  </div>

  <form [formGroup]="filterForm">
    @if (curPage() > 1) {
    <button type="button" (click)="setPage(1)">1</button>
      <button type="button" (click)="prevPage()">< Prev</button>
    }

    @if (hasNextPage()) {
      <button (click)="nextPage()">Next ></button>
    }
  </form>
</section>
